@import "tailwindcss";

body{

  color:var(--color-text-muted)
}
button{
  color:var(--color-accent  )
}



.gradientbg {
  padding: 1%;
  min-height: 100vh;
    background-image: radial-gradient( circle farthest-corner at -140% 0%, var(--color-primary) 0%, var(--color-bg) 90% );
      /* background-image: radial-gradient( circle farthest-corner at -140% 0%, var(--color-accent) 40%, var(--color-primary) 90%   ); */
}




:root {
  --color-bg: #04000a;
  --color-primary: #a46afb;
  --color-secondary: #8c6fbe;
  --color-accent: #fabc34;
  --color-text: #ebe0fe;
  --color-text-muted: #8f8b8b;
}