@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.gradientbg {
    min-height: 100vh;
    background-color: var(--color-bg);
    background-image: radial-gradient( circle farthest-corner at -140% 0%, var(--color-primary) 0%, var(--color-bg) 90% );
      /* background-image: radial-gradient( circle farthest-corner at -140% 0%, var(--color-accent) 40%, var(--color-primary) 90%   ); */

}



:root {
  --color-bg: #04000a;
  --color-primary: #a46afb;
  --color-secondary: #8c6fbe;
  --color-accent: #fabc34;
  --color-text: #ebe0fe;
  --color-text-muted: #8f8b8b;
}